<a href="https://colab.research.google.com/github/Caarevalor/Python_Datascience_Notebooks/blob/main/More_Data_Processing_With_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fusionando Frames

In [ ]:
## En esta sección veremos como unir multiples DataFrame, ya sea uniendolo horizontalmente
#o concatenandolos verticalmente. Antes de abordar el codigo, debemos abordar una pequeña 
#parte de de teoría relacional.
#Comencemos pensando en un diagrama de Venn donde hay interseccion entre dos poblaciones
#entre estudiantes y personas que trabajan en la universidad, puede ser estudiantes que 
#trabajen como asistentes en distintas areas. Podemos pensar estas dos poblaciones como 
#índices en DataFrames separados, cuando queramos juntar estos dos dataframes debemos tomar
#algunas decisiones como si queremos toda la poblacion ya sea estudiantes o trabajor de la U
#Lo que sería una UNION en terminos de conjuntos, o en caso de que queramos solo aquellos casos
#en comun tendríamos una intersección

# Con esta vista previa comencemos a ver como se haría en PANDAS

import pandas as pd
#primero creemos dos dataFrames
staff_df=pd.DataFrame([{'Name':'Kelly', 'Role':'Director of HR'},
                       {'Name':'Sally', 'Role':'Course Liason'},
                       {'Name':'James', 'Role':'Grader'}])

#Ahora establezcamos los nombres como el indice del DataFrame
staff_df=staff_df.set_index('Name')

student_df=pd.DataFrame([{'Name':'Kelly', 'School':'Business'},
                       {'Name':'School', 'School':'Law'},
                       {'Name':'Sally', 'School':'Engineering'}])
student_df=student_df.set_index('Name')
print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally   Course Liason
James          Grader
             School
Name
Kelly      Business
School          Law
Sally   Engineering

In [ ]:
#Como podemos observar hay dos estudiantes que estan en ambas listas, entonces 
#como los fusionamos? llamamos a merge(), en primer caso lo haremos con outer join

pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True )

                  Role       School
Name
James           Grader          NaN
Kelly   Director of HR     Business
Sally    Course Liason  Engineering
School             NaN          Law

In [ ]:
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True )

                 Role       School
Name
Kelly  Director of HR     Business
Sally   Course Liason  Engineering

In [ ]:
#Tambien podemos poner el caso en que solo se quiera de staff_df detalles de 
#aquellos que sean estudiantes, para ello se usa left join
pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True )

                 Role       School
Name
Kelly  Director of HR     Business
Sally   Course Liason  Engineering
James          Grader          NaN

In [ ]:
#o podemos el caso contrario y usar un right join
pd.merge(staff_df,student_df,how='right',left_index=True,right_index=True )

                  Role       School
Name
Kelly   Director of HR     Business
School             NaN          Law
Sally    Course Liason  Engineering

In [ ]:
#Tambien podemos unirlos no solo por indice, si no tambien por columna, hacuendo
#uso del parametro "on".
#Primero eliminemos el index
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()

#Ahora fusionemos ambos con el parametro "on"
pd.merge(staff_df,student_df,how='right',on='Name')

     Name            Role       School
0   Kelly  Director of HR     Business
1  School             NaN          Law
2   Sally   Course Liason  Engineering

In [ ]:
#Y que sucede cuando hay conflicto entre ambos DataFrames?, echemos un vistazo
#añadiendo una nueva columna
staff_df=pd.DataFrame([{'Name':'Kelly', 'Role':'Director of HR',
                        'Location':'State Street'},
                       {'Name':'Sally', 'Role':'Course Liason',
                        'Location':'Washington Avenue'},
                       {'Name':'James', 'Role':'Grader',
                        'Location':'Washington Avenue'}])

student_df=pd.DataFrame([{'Name':'Kelly', 'School':'Business',
                          'Location':'1024 Billiard Avenue'},
                       {'Name':'School', 'School':'Law',
                        'Location':'Fraternity House #22'},
                       {'Name':'Sally', 'School':'Engineering',
                        'Location':'512 Wilson Crescent'}])
#En staff_df se refiere a la ubicación de la oficina donde se puede encontrar la 
#persona del staff, pero para student_df en realidad la ubicación hace referencia
#a la ubicacion de la casa.

#Merge conserva la información, pero depende de _x y _y para ayudar a diferenciar 
#con cual indice con cual columna de datos. El _x

#Si queremos toda la informacion del staff sean estudiantes o no, y de igual manera 
#para la informacion de estudiantes. Podemos realizar una left join con al columna
#nombres
pd.merge(staff_df, student_df,how='left',on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street     Business  1024 Billiard Avenue
1  Sally   Course Liason  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue          NaN                   NaN

In [ ]:
#Antes de pasar al siquiente tema, hablemos sobre multi-indexing y de columnas multiples
#Es bastante probable que el nombre del estudiantes y del staff se superponga, pero el 
#apellido no,en ese caso se pude utilizar una lista de multiples columnas para unir, 
#"keys" de ambos dataFrame usando el parametro On

staff_df=pd.DataFrame([{'First Name':'Kelly','Last Name':'Desjardins',
                        'Role':'Director of HR','Location':'State Street'},
                       {'First Name':'Sally', 'Last Name':'Brooks',
                        'Role':'Course Liason', 'Location':'Washington Avenue'},
                       {'First Name':'James', 'Last Name':'Wilde',
                        'Role':'Grader', 'Location':'Washington Avenue'}])

student_df=pd.DataFrame([{'First Name':'James','Last Name':'Hammond',
                          'School':'Business','Location':'1024 Billiard Avenue'},
                       {'First Name':'Mike', 'Last Name':'Smith',
                        'School':'Law','Location':'Fraternity House #22'},
                       {'First Name':'Sally','Last Name':'Brooks',
                        'School':'Engineering','Location':'512 Wilson Crescent'}])
##Se percata de que son James con diferentes apellidos:

pd.merge(staff_df,student_df,how='inner',on=['First Name','Last Name'])

  First Name Last Name  ...       School           Location_y
0      Sally    Brooks  ...  Engineering  512 Wilson Crescent

[1 rows x 6 columns]

In [ ]:
#Ahora vimos fusion horizontal, veamos para el caso de fusion vertical, haciendo uso de
#un par de bases:
#comenzamos haciendo uso de una magic function

%%capture 

df_2011 = pd.read_csv("datasets/college_scorecard/MERGED2011_12_PP.csv", error_bad_lines=False)
df_2012 = pd.read_csv("datasets/college_scorecard/MERGED2012_13_PP.csv", error_bad_lines=False)
df_2013 = pd.read_csv("datasets/college_scorecard/MERGED2013_14_PP.csv", error_bad_lines=False)

FileNotFoundError: ignored

In [ ]:
frames = [df_2011, df_2012, df_2013]
pd.concat(frames)

NameError: ignored

In [ ]:
#now that all the data is
# concatenated together, we don't know what observations are from what year anymore! Actually the concat
# function has a parameter that solves such problem with the keys parameter, we can set an extra level of
# indices, we pass in a list of keys that we want to correspond to the dataframes into the keys parameter

# Now let's try it out
pd.concat(frames, keys=['2011','2012','2013'])

# Pandas Idioms

Programadores de Python a menudo sugieren el uso del lenguaje para resolver problemas en particular, algunos más apropiados que otros, las más celebradas son Idiomatic Python, hay una gran cantidad de ejemplos en StackOverflow y otros sitios WEB.

Como un sub lenguaje dentro de Python, Pandas tiene su propio conjunto de modismos. Ya se ha aludido a ellos en anteriores secciones, como usar vectorización cuando sea posible, y uno usar bucles iterativos si no es necesarios.  Varios desarrroladores, y usuarios dentro de la comunidad de Pandas
usan el termino _pandorable_ para estos modismos(idioms). En esta sección se compartirá un par de claves para hacer el codigo más pandorable

In [ ]:
import pandas as pd
import numpy as np
#Y se traerá la funciones de tiempo para demostrar algo
import timeit
#Y cojamos el dataset sobre censo de USA
df=pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/census.csv')
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0      40       3         6  ...     1.383282     1.724718    0.712594
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861

[5 rows x 100 columns]

In [ ]:
#Lo primero que se tratará es el encadenamiento(chaining) en pandas. La idea general detrás del metodo Chaining,
#es que cada metodo sobre nuestro objeto devuelve una referencia a ese DataFrame. La belleza de esto es que se
#puede condensar muchas operaciones diferentes en un DataFrame, por ejemplo en una o dos lineas.

#Aqui es una manera pandorable de escribir codigo con el metodo encadenado. En esta parte se va a sacar el estado
#y las ciudades como indice multiple, y se va a hacer solo para datos que tiene un SUMLEV de 50, en este conjunto 
#de datos es del nivel de Condado. Se va a cambiar el nombre de la columna para que sea más legible.

(df.where(df['SUMLEV']==50)
  .dropna()
  .set_index(['STNAME','CTYNAME'])
  .rename(columns={'ESTIMATESDATABASE2010':'Estimate Data Base 2012'}))

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County       50.0     3.0  ...     2.592270    -2.187333
        Baldwin County       50.0     3.0  ...    20.317142    18.293499
        Barbour County       50.0     3.0  ...    -3.978583   -10.543299
        Bibb County          50.0     3.0  ...     0.754533     1.107861
        Blount County        50.0     3.0  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County    50.0     4.0  ...   -14.075283   -14.070195
        Teton County         50.0     4.0  ...    16.308671     1.520747
        Uinta County         50.0     4.0  ...   -14.740608   -12.606351
        Washakie County      50.0     4.0  ...   -18.020168     1.441961
        Weston County        50.0     4.0  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [ ]:
#Aqui hay una manera más tradicional, no-pandorable de escribir lo anterior. No hay nada
#incorrecto en el sentido funcional, incluso tal vez sea más entendible para una persona
#nueva en este lenguaje. 

#Se crea un nuevo DataFrame a partir del original:
df= df[df['SUMLEV']==50]
#Ahora se actualizara el DataFrame para utilizar un nuevo index, usando inplace=True
df.set_index(['STNAME','CTYNAME'],inplace=True)
#Ahora modificar la columna nombres
df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

                           SUMLEV  REGION  ...  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME                            ...
Alabama Autauga County         50       3  ...     2.592270    -2.187333
        Baldwin County         50       3  ...    20.317142    18.293499
        Barbour County         50       3  ...    -3.978583   -10.543299
        Bibb County            50       3  ...     0.754533     1.107861
        Blount County          50       3  ...    -1.577232    -0.884411
...                           ...     ...  ...          ...          ...
Wyoming Sweetwater County      50       4  ...   -14.075283   -14.070195
        Teton County           50       4  ...    16.308671     1.520747
        Uinta County           50       4  ...   -14.740608   -12.606351
        Washakie County        50       4  ...   -18.020168     1.441961
        Weston County          50       4  ...     1.533635     6.935294

[3142 rows x 98 columns]

In [ ]:
#Ahora la clave para cualquier buen "idiom" es entender que no está ayudando. En este 
#caso en realidad puede tomar el tiempo de ambos metodos para ver cual es mas rapido

#Podemos hacer una aproximacion y pasarlo a la funcion timeit, para tener una aproxima-
#cion y ver cual es mas rapida.

def first_approach():
  global df
  #y aquí ira nuestro codigo
  return (df.where(df['SUMLEV']==50)
            .dropna()
            .set_index(['STNAME','CTYNAME'])
            .rename(columns={'ESTIMATESDATABASE2010':'Estimate Data Base 2012'}))
df=pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/census.csv')

timeit.timeit(first_approach,number=10)

0.21904491100002588

In [ ]:
# Ahora vamos probar con la segunda opcion. Como notará se hizo uso de una variable 
#global, modificar esta variable tendra su efecto incluso en un alcance global, y no 
#se quiere que eso suceda. Entonces antes de que eso suceda se creara otro df 

def second_approach():
  global df
  new_df= df[df['SUMLEV']==50]
  new_df.set_index(['STNAME','CTYNAME'],inplace=True)
  return new_df.rename(columns={'ESTIMATESBASE2010':'Estimates Base 2010'})

df=pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/census.csv')
timeit.timeit(second_approach,number=10)

0.06364790500003892

In [ ]:
#Como se demuestra, la segunda accion es mucho más rapida, aunque normalmente se encuentren
#estos idioms en lugares como stack overflowm, hay que tener en cuenta que puede llegar a 
#generar problemas de rendimiento.

#Python tiene una gran herramienta, la funcion map, la cual es una base para la programación
#funcional del lenguaje. Cuando se usa map, se pasa una function que se quiere llamar y algun
#iterable, a la cual se desea que se aplique la función. Los resultados llaman cada elemento de
#la lista, y hay una lista resultado con la evaluacion de esa funcion.

#Pandas tiene algo similar, llamado applymap, la cual nos provee de una funcion que va a operar
#cada celda de un DataFrame, y me retorna el DataFrame en si mismo. Ya que generalmente uno requiere
#operar mas cada fila en vez de celda, se suele utilizar más apply. Veamos un ejemplo:

In [ ]:
#Tomemos nuevamente los datos de census.csv. Donde se encuentran 5 columnas interesantes, para las
#poblaciones estimadas, cada columna correspondiendo a un año. Es bastante razonable crear nuevas 
#columnas para los valores minimos y para los maximos, y con la función apply es sencillo de hacer

#Primero debemos escribir una funcion que tome una fila en particular, y encuentre el valor maximo
#y minimo, y nos retorne una nueva fila de datos a partir de lo anterior. Podemos crear un pequeño 
#slice de la fila proyectando las columnas de población. Luego podemos utilizar las funciones de 
#Numpy max() and min(), y crear una nueva serie  con los valores etiquetados que queremos aplicar.

def min_max(row):
  data=row[['POPESTIMATE2010',
            'POPESTIMATE2011',
            'POPESTIMATE2012',
            'POPESTIMATE2013',
            'POPESTIMATE2014',
            'POPESTIMATE2015']]
  return pd.Series({'min':np.min(data),'max':np.max(data)})

In [ ]:
#Ahora solo necesitamos llamar la función apply sobre el DataFrame.

#Apply toma la funcion, y los ejes sobre los cuales operar como parametros. Ahora hay 
#que ser un poco cuidadoso. Hemos hablados sobre los ejes zero son las filas del DataFrame
#en el pasado. Pero este parametro es realmente un parametro del indice a usar. Asi que,
#para aplicar en todas las filas, la cual se aplica a todas las columnas, puede pasar el eje
#eje igual a 1 o igual a 'columns'

df.apply(min_max, axis='columns').head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [ ]:
#Aquí un ejemplo donde agregamos las dos nuevas columnas al dataFrame original

def min_max(row):
  data=row[['POPESTIMATE2010',
            'POPESTIMATE2011',
            'POPESTIMATE2012',
            'POPESTIMATE2013',
            'POPESTIMATE2014',
            'POPESTIMATE2015']]
  #Ahora creamos una nueva entrada para max
  row['max']=np.max(data)
  #Y una nueva entrada para min
  row['min']=np.min(data)
  return row
#Y ahora pasamos la funciona traves del DataFrame

df.apply(min_max,axis='columns')

      SUMLEV  REGION  DIVISION  ...  RNETMIG2015      max      min
0         40       3         6  ...     0.712594  4858979  4785161
1         50       3         6  ...    -2.187333    55347    54660
2         50       3         6  ...    18.293499   203709   183193
3         50       3         6  ...   -10.543299    27341    26489
4         50       3         6  ...     1.107861    22861    22512
...      ...     ...       ...  ...          ...      ...      ...
3188      50       4         8  ...   -14.070195    45162    43593
3189      50       4         8  ...     1.520747    23125    21297
3190      50       4         8  ...   -12.606351    21102    20822
3191      50       4         8  ...     1.441961     8545     8316
3192      50       4         8  ...     6.935294     7234     7065

[3193 rows x 102 columns]

In [ ]:
#Normalmente apply() no se usara con funciones tan grande, usualmente se suele
#utilizar con lambdas. Ejemplo:

rows=['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
#ahora vamos aplicar esto a traves del dataframe con lambda

df.apply(lambda x:np.min(x[rows]),axis=1).head()

0    4785161
1      54660
2     183193
3      26489
4      22512
dtype: int64

In [ ]:
#tambien podriamos desarrollar una funcion que nos diga la region a la que pertenece Noreste, Medio Oeste, Sur y Oeste
# con informacion sacada de wikipedia. Ejemplo

def get_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    if x in northeast:
      return 'Northeast'            
    elif x in midwest:
      return 'Midwest'
    elif x in south:
      return 'South'
    else:
      return 'West'

In [ ]:
#Ahora que ya tenemos la función podemos crear una nueva columna llamada region, la cuál mostrará
#la región del estado, podemos usar una funcion personalizada para ello. Una funcion personalizada
#se supone trabajara con la columna STNAME. Asi que estableceremos que la funcion se aplica sobre 
#esta columna.Ejemplo:

df['state_region']=df['STNAME'].apply(lambda x:get_region(x))

In [ ]:
df[['STNAME','state_region']].head()

    STNAME state_region
0  Alabama        South
1  Alabama        South
2  Alabama        South
3  Alabama        South
4  Alabama        South

# Group by

A veces se quiere seleccionar un conjunto de datos agrupados, y entender los datos a nivel de grupo. Como hemos visto con pandas se puede iterar a traves de cada fila, pero es algo lento. Afortunadamente Pandas cuenta con una funcion llamada groupby() para acelerar estas tareas. La idea de esta funcion es que toma algun DataFrame, lo divide  en fragmentos basado en valores claves, y luego aplica el calculo en esos fragmentos, y combina el resultado dentro de otro DataFrame. En pandas esto es conocido como split-apply-combine.

## Splitting

In [ ]:
import pandas as pd
import numpy as np

#tomemos los datos de census.csv sobre USA

df= pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/census.csv')
#Excluyamos algunos state level sumarization, con SUMLEVEL
df=df[df['SUMLEV']==50]
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861
5      50       3         6  ...    -1.402476    -1.577232   -0.884411

[5 rows x 100 columns]

In [ ]:
#Para el primer ejemplo de groupby(), se quiere utilizar el census date. Comencemos
#por tomar una lista de los estados unicos. Podemos iterar sobre cada estado para 
#reducir el data frame y calcular el promedio

#vamos a calcular estos tres veces, haciendo uso de una cell magic function %%timeit
%%timeit -n 3
for state in df['STNAME'].unique():
  #calculemos el promedio haciendo uso de numpy
  avg=np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
  print('Counties in state '+ state +
        ' have an avarage population of '+ str(avg))

Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218

In [ ]:
#Ahora hagamos una aproximacion usando un groupby()

%%timeit -n 3
#Para empezar vamos a decirle a Pandas que queremos agrupar el estado por nombre

for group, frame in df.groupby('STNAME'):
  #Como se podrá notar hay dos valores que se establecen, groupby retorna una tupla, donde el primer
  #valor es la clave(key) por el cual tratamos de agrupar, este caso el State Name, y el segundo valor
  #es el dataFrame proyectado que fue encontrado para este grupo. 

  #Ahora vamos a incluir la logica para calcular el promedio del censo en 2010
  avg=np.average(frame['CENSUS2010POP'])
  print('Counties in state '+ group +
        ' have an avarage population of '+ str(avg))

Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218
Counties in state Iowa have an avarage population of 30771.262626262625
Counties in state Kansas have an avarage population of 27172.55238095238
Counties in state Kentucky have an avarage population of 36161.39166666667
Counties in state Louisiana have an avarage population of 70833.9375
Counties in state Maine have an avarage population of 83022.5625
Counties in state Maryland have an avarage population of 240564.66666666666
Counties in state Massachusetts have an avarage population of 467687.78571428574
Counties in state Michigan have an avarage population of 119080.0
Counties in state Minnesota have an avarage population of 60964.65517241379
Counties in state Mississippi have an avarage population of 36186.54878048781
Counties in state Missouri have an avarage population of 52077.62608695652
Counties in state Montana have an avarage population of 17668.125
Counties in state Nebraska have an avarage population of 19638.075268817203
Counties in state Nevada have an avarage population of 158855.9411764706
Counties in state New Hampshire have an avarage population of 131647.0
Counties in state New Jersey have an avarage population of 418661.61904761905
Counties in state New Mexico have an avarage population of 62399.36363636364
Counties in state New York have an avarage population of 312550.03225806454
Counties in state North Carolina have an avarage population of 95354.83
Counties in state North Dakota have an avarage population of 12690.396226415094
Counties in state Ohio have an avarage population of 131096.63636363635
Counties in state Oklahoma have an avarage population of 48718.844155844155
Counties in state Oregon have an avarage population of 106418.72222222222
Counties in state Pennsylvania have an avarage population of 189587.74626865672
Counties in state Rhode Island have an avarage population of 210513.4
Counties in state South Carolina have an avarage population of 100551.39130434782
Counties in state South Dakota have an avarage population of 12336.060606060606
Counties in state Tennessee have an avarage population of 66801.1052631579
Counties in state Texas have an avarage population of 98998.27165354331
Counties in state Utah have an avarage population of 95306.37931034483
Counties in state Vermont have an avarage population of 44695.78571428572
Counties in state Virginia have an avarage population of 60111.29323308271
Counties in state Washington have an avarage population of 172424.10256410256
Counties in state West Virginia have an avarage population of 33690.8
Counties in state Wisconsin have an avarage population of 78985.91666666667
Counties in state Wyoming have an avarage population of 24505.478260869564
Counties in state Alabama have an avarage population of 71339.34328358209
Counties in state Alaska have an avarage population of 24490.724137931036
Counties in state Arizona have an avarage population of 426134.4666666667
Counties in state Arkansas have an avarage population of 38878.90666666667
Counties in state California have an avarage population of 642309.5862068966
Counties in state Colorado have an avarage population of 78581.1875
Counties in state Connecticut have an avarage population of 446762.125
Counties in state Delaware have an avarage population of 299311.3333333333
Counties in state District of Columbia have an avarage population of 601723.0
Counties in state Florida have an avarage population of 280616.5671641791
Counties in state Georgia have an avarage population of 60928.63522012578
Counties in state Hawaii have an avarage population of 272060.2
Counties in state Idaho have an avarage population of 35626.86363636364
Counties in state Illinois have an avarage population of 125790.50980392157
Counties in state Indiana have an avarage population of 70476.10869565218

In [ ]:
##Como se puede notar la diferencia es muy grande, en el 99% de los casos se utilizaran
#para agrupar una o dos columnas. Pero tambien se puede usar para segmentar

#Se desea trabajar solo en una tercera parte de los estados en un momento dado. Podríamos crear alguna función 
#que devuelva un número entre cero y dos basado en el primer carácter del nombre del estado. Entonces podemos 
#decirle a group by que use esta función para dividir nuestro marco de datos. Es importante tener en cuenta que
#para hacer esto, debe configurar el índice del marco de datos para que sea la columna por la que desea agrupar primero.

#Crearemos una nueva función llamada set_batch_number y si la primera letra del parámetro es una M mayúscula, 
#devolveremos un 0. Si es una Q mayúscula, devolveremos un 1 y, de lo contrario, devolveremos un 2.
#Entonces Pasaremos esta función al marco de datos

df=df.set_index('STNAME')
def set_batch_number(item):
  if item[0]<'M':
    return 0
  if item[0]>'Q':
    return 1
  else:
    return 2
for group, frame in df.groupby(set_batch_number):
  print('There are ' + str(len(frame))+ ' records in group '+ str(group)+' for processing.')

There are 1177 records in group 0 for processing.
There are 831 records in group 1 for processing.
There are 1134 records in group 2 for processing.

In [ ]:
#Vamos a realizar otro ejemplo sobre como usar un agrupado de datos con un dataset de
#airbnb. En este dataset hay dos conlumnas de interes, una es la politica de cancelacion
#y el otro es las puntuaciones de las reseñas(review scores value). Empecemos==>

df=pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/listings.csv')
df.head()

         id  ... reviews_per_month
0  12147973  ...               NaN
1   3075044  ...              1.30
2      6976  ...              0.47
3   1436513  ...              1.00
4   7651065  ...              2.25

[5 rows x 95 columns]

In [ ]:
#Como se agruparía por estas dos columnas? Un primer enfoque sería promover estas dos a 
#multi-index, y luego llamar groupby().

df=df.set_index(['cancellation_policy','review_scores_value'])

#Cuando se tiene un multi-indice, se tiene que pasar los niveles en los que estamos interesados
#en agrupar. De forma predeterminada groupby() no sabe que se desea agrupar por niveles

for group , frame in df.groupby(level=(0,1)):
  print (group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [ ]:
#Parece que lo anterior funciona bien, pero que si quisieramos agrupar por cancellation policy y review scores,
#pero separando los puntajes de 10, de todos aquellos debajo de 10? . Ejemplo==>

def grouping_fun(item):
  #Comprobemos la parte de "review_scores_value" de el index, item esta en el formato de 
  #(cancellation_policy, review_scores_value)
  if item[1]==10.0:
    return (item[0],"10.0")
  else:
    return (item[0],'Not 10.0')
for group, frame in df.groupby(by=grouping_fun):
  print(group)

('flexible', '10.0')
('flexible', 'Not 10.0')
('moderate', '10.0')
('moderate', 'Not 10.0')
('strict', '10.0')
('strict', 'Not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'Not 10.0')

In [ ]:
df.head()

                                               id  ... reviews_per_month
cancellation_policy review_scores_value            ...
moderate            NaN                  12147973  ...               NaN
                    9.0                   3075044  ...              1.30
                    10.0                     6976  ...              0.47
                    10.0                  1436513  ...              1.00
flexible            10.0                  7651065  ...              2.25

[5 rows x 93 columns]

In [ ]:
#Hasta el momento se ha hecho un procesamiento simple sobre el splitting basicamente solo mostrar como
#quedan los splits del dataframe. Pandas tene desarrrolladores en tres grandes categorias de procesamiento
#de datos que suceden durante el paso de aplicación, "Agregacion de datos de grupo", "Transformacion de 
#grupos de datos", y "Filtracion de grupos de datos"

## Agreggation

In [ ]:
#El paso mas sencillo es el de agregación, el cual utiliza el metodo agg, sobre un objeto groupby.
#Hasta el momento solo se ha iteado sobre a traves de un objeto groupby, desempacandolo en una etiqueta,
#y un DataFrame. Pero con agg podemos pasar un diccionario de las columnas en las que se esta interesado
#en agregar junto a la funció que se esta buscando aplicar. 

#Reiniciemos el index de los datos de airbnb

df=df.reset_index()

#Ahora vamos a grupar por cancellation_policy y encontrar el promedio de review_scores_value por grupo

df.groupby("cancellation_policy").agg({"review_scores_value":np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [ ]:
df.groupby("cancellation_policy").agg('mean')['review_scores_value']

cancellation_policy
flexible           9.237421
moderate           9.307398
strict             9.081441
super_strict_30    8.537313
Name: review_scores_value, dtype: float64

In [ ]:
#Lo anterior se puede extender a varias funciones
df.groupby("cancellation_policy").agg(([('average','mean'),('Desviacion','std')]))['review_scores_value'].agg

<bound method DataFrame.aggregate of                       average  Desviacion
cancellation_policy
flexible             9.237421    1.096271
moderate             9.307398    0.859859
strict               9.081441    1.040531
super_strict_30      8.537313    0.840785>

In [ ]:
df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean,np.nanstd),
                                      "reviews_per_month":np.nanmean})

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

## Transformation

In [ ]:
#La transformacion es diferente  de "Aggregation", donde agg() devuelve un solo valor por columna, asi un una fila
#por grupo, transform() devuelve un objeto que es del mismo tamaño del objeto. Esencialmente, transmite una funcion
#que nosostros le suministramos a traves del DataFrame del grupo, devolviendo un nuevo marco de datos. Esto hace que
#la combinacion de datos mas adelante sea más sencilla.

#Por ejemplo, supongamos que queríamos incluir los valores de calificación promedio en un grupo determinado por 
#cancellation_policy, pero preservar la forma(shape) del DataFrame de manera que podamos preservar una diferencia 
#entre la observacion invidual y la suma:

#Primero se define el subconjunto de columnas que son de interes:

cols=['cancellation_policy','review_scores_value']

#Ahora pasemos a transformarlo. Se guardará dentro del mismo DataFrame:

transform_df= df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [ ]:
#se observa que el indice es el mismo que en DataFrame original. Vamos a unirlo, pero antes de eso,
#vamos a renombrar la columna transformada:

transform_df.rename({'review_scores_value':'mean_review_scores'},axis='columns',inplace=True)
df=df.merge(transform_df,left_index=True,right_index=True)
df.head()

  cancellation_policy  ...  mean_review_scores
0            moderate  ...            9.307398
1            moderate  ...            9.307398
2            moderate  ...            9.307398
3            moderate  ...            9.307398
4            flexible  ...            9.237421

[5 rows x 96 columns]

In [ ]:
#Ahora se podría crear una columna que tenga la diferencia entre una fila dada y su grupo(cancellation_policy.means)
df['mean_diff']=np.absolute(df['review_scores_value']-df['mean_review_scores'])
df['mean_diff'].head()

0         NaN
1    0.307398
2    0.692602
3    0.692602
4    0.762579
Name: mean_diff, dtype: float64

## Filtering

In [ ]:
#Por lo tanto el objeto groupby tambien es compatible con grupos de filtrado. Es frecuente que se quiera agrupar por
#determinadas caracteristicas, luego hacer alguna transformacion sobre esos grupos, y luego eliminar ciertos grupos
#como parte  de una rutina de limpieza. La funcion filter() toma una funcion que se aplica a cada grupo del DataFrame
#y retorna un verdadero o falso, dependiendo de si se debe incluir o no en los resultados. 

#Por ejempo si se quisiera un grupo de aquellso tienen una calificacion superior a 9. Ejemplo:

df.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value'])>9.2)

     cancellation_policy  review_scores_value  ...  mean_review_scores mean_diff
0               moderate                  NaN  ...            9.307398       NaN
1               moderate                  9.0  ...            9.307398  0.307398
2               moderate                 10.0  ...            9.307398  0.692602
3               moderate                 10.0  ...            9.307398  0.692602
4               flexible                 10.0  ...            9.237421  0.762579
...                  ...                  ...  ...                 ...       ...
3576            flexible                  NaN  ...            9.237421       NaN
3577            flexible                  NaN  ...            9.237421       NaN
3579            flexible                  NaN  ...            9.237421       NaN
3582            flexible                  NaN  ...            9.237421       NaN
3584            flexible                  NaN  ...            9.237421       NaN

[1918 rows x 97 columns]

In [ ]:
#Observar que el resultado todavia esta indexado, pero cualquiera de los resultados que estaba en el grupo con la
#puntuacion de review menor a 9.2 no estan copiados

## Applying

In [ ]:
#Por lejos, la operación mas común que se invoca al agrupar es la funcion apply(). Esto nos permite aplicar una 
#funcion arbitraria a cada grupo, y cocer los resultados de vuelta en un solo DataFrame, donde el indice es preservado

#Ejemplo con airbnb:

df=pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/listings.csv')
 
# Y ahora incluimos algunas columnas en las que se esta interesado

df=df[['cancellation_policy','review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [ ]:
#En trabajos anteriores, se quería encontrar la puntuacion media de un listado, su desviacion media del grupo.
#Esto fue un proceso de dos pasos, primero se usó transform() en un objeto groupby, y luego se tuvo que transmitir
#para crear una nueva columna. Con Apply() esto se puede realizar en una sola linea

def calc_mean_review_scores(group):
  #group es el dataFrame que hemos agrupado
  avg=np.nanmean(group['review_scores_value'])
  #Y ahora nuestra formula para crear una nueva columna
  group['review_scores_mean']=np.abs(avg-group['review_scores_value'])
  return group

#Ahora es solo aplicar esto a los grupos

df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

  cancellation_policy  review_scores_value  review_scores_mean
0            moderate                  NaN                 NaN
1            moderate                  9.0            0.307398
2            moderate                 10.0            0.692602
3            moderate                 10.0            0.692602
4            flexible                 10.0            0.762579

Usar apply() puede ser **más lento** que algunas funciones especializadas, especialmente **agg()**. Pero si los DataFrame no son enormes. Es una buena manera solida de hacerlo.

# Scales

Hay al menos 4 escalas:
1. Escala de proporciones:
  - Las unidades estan igualmente espaciadas
  - Las operaciones matematicas como -+*/ son validas
  - En ejemplo es altura y peso
2. Escala de intervalos:
  - Las unidades tambien estan ingualmente espaciadas, pero no hay valor que en verdad sea 0
  - Como no hay 0, operaciones como * o / no son validas
  - Ejemplo la temperatura no existe la asuencia de temperatura como tal, 0 ° tiene un significado como tal o una brujula. 
3. Escala ordinal:
  - El orden entre unidades es muy importante, pero los valores no están igualmente espaciadas.
  - La calificacion por letras es un buen ejemplo A,A+,B...
4. Escala nominal:
  - Datos categoricos, pero las categorias no tienen orden respecto a otros.
  - Por ejemplo a que el nombre de un equipo.

¿Por que hablar de esto ahora? Panda tiene herramientas para trabajar con este tipos de datos, por ejemplo datos categoricos, podemos asignarlos como una variable de este tipo con astype.

In [ ]:
import pandas as pd
#vamos a crear  DataFrame con calficiaciones de letras, en orden descendente. Tambien se asignará un indice y
#aquí se hará que sea el juicio humano de que tan bueno era un estudiante, como "excelente" o "good"
df=pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 
                       'ok', 'ok', 'ok', 'poor', 'poor'],
                columns=['Grades'])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [ ]:
#si se revisamos el tipo de dato que tiene la columna, nos retornará que es un objeto:

df.dtypes

Grades    object
dtype: object

In [ ]:
#Sin embargo,se puede decirle a pandas que se desea cambiar el tipo de dato de la caregoría
#haciendo uso de astype():

df['Grades'].astype("category").head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [ ]:
#Ahora se muestra que hay 11 categorías, y los pandas son conscientes de lo que son esas categorías, 
#Sin embargo, lo más interesante es que nuestros datos no son solo en estan categorizados, sino que en realidad
#no estan ordenados, si no que en realidad ya esta ordenado. Tambien se le puede decir a pandas que los datos 
#se ordenan creando primero un nuevo tipo de datos caregoricos con la lista de categorías en orden, y el orden
#es igual a la bandera verdadera(ordered=True). 

my_categories=pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], 
                           ordered=True)
grades=df['Grades'].astype(my_categories)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [ ]:
#Ahora que ya reconoce el orden de las categorías, esto puede ayudar a la hora de realizar un enmascaramiento
#booleano. Como por ejemplo obtener solo los estudiantes con una nota mayor a c. Ejemplo:

df[df['Grades']>'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [ ]:
#Como se observa C+ es mayor que C, pero el resto no, entonces lo que hacemos es transmitir a traves del 
#DataFrame que tiene establecido el orden categorico.
grades[grades>'C']

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [ ]:
# a veces es util convertir variables categoricas en variables ficticias(dummies variables).
# es cuando variables categoricas toman valores de 0 o 1. Afortunadamente Pandas cuenta con 
#con una funcion llmada get_dummies() que convierte una columna en multiples columnas de 0
#y 1, indicando la presencia de una variable ficticia. Rara vez se usa, pero cuando se utiliza
#es muy útil.

In [ ]:
#Hay un funcion más basada en Scale operation, que nos gustaría introducir, y es convertir una
#escala de algo que es la escala de intervalo o ratio, como un grado numero, en uno categorico
#Por ejemplo, si se esta viendo frecuencia de categorias, este puede ser un enfoque extremadamente
#utíl,y los histogramas se suslen en  intervalos. Además si se está usando machine learning classification
#se deberá utilizar datos categoricos. Reduciendo la dimensionalidad puede ser util para aplicar una tecnica
#dada. Pandas tiene una función llamada "cut()" que toma como argumento una estructura similar a una matriz,
#como una columna, DataFrame, Series. Y tambien toma varios compartimentos(bins) para ser utilizados, y 
# todos los compartimentos se mantienen igualmente espaciados. 

#Volvamos a algunos datos de census.csv, se observo que se podían agrupar por estado y luego agregar una lista
#del tamaño promedio del condado por estado. Si aplicamos cut() con digamos 10 compartimentos(bins), podríamos
#ver los estados como categoricos, utilizando el tamaño promedio del condado. Ejemplo:

import numpy as np
df=pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/census.csv')

# y reducimos el nivel de los datos country

df=df[df['SUMLEV']==50]

#y ahora por grupos

df=df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)

df.head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
Name: CENSUS2010POP, dtype: float64

In [ ]:
#ahora si se desea hacer "BINS" de cada uno de ellos, se usa cut()

pd.cut(df,10)
#esta es solo una manera de crear datos categoricos, cut() nos da cateorias igualmente
#espaciadas basadas en la frencuencia.

STNAME
Alabama                   (11706.087, 75333.413]
Alaska                    (11706.087, 75333.413]
Arizona                 (390320.176, 453317.529]
Arkansas                  (11706.087, 75333.413]
California              (579312.234, 642309.586]
Colorado                 (75333.413, 138330.766]
Connecticut             (390320.176, 453317.529]
Delaware                (264325.471, 327322.823]
District of Columbia    (579312.234, 642309.586]
Florida                 (264325.471, 327322.823]
Georgia                   (11706.087, 75333.413]
Hawaii                  (264325.471, 327322.823]
Idaho                     (11706.087, 75333.413]
Illinois                 (75333.413, 138330.766]
Indiana                   (11706.087, 75333.413]
Iowa                      (11706.087, 75333.413]
Kansas                    (11706.087, 75333.413]
Kentucky                  (11706.087, 75333.413]
Louisiana                 (11706.087, 75333.413]
Maine                    (75333.413, 138330.766]
Maryland                (201328.118, 264325.471]
Massachusetts           (453317.529, 516314.881]
Michigan                 (75333.413, 138330.766]
Minnesota                 (11706.087, 75333.413]
Mississippi               (11706.087, 75333.413]
Missouri                  (11706.087, 75333.413]
Montana                   (11706.087, 75333.413]
Nebraska                  (11706.087, 75333.413]
Nevada                  (138330.766, 201328.118]
New Hampshire            (75333.413, 138330.766]
New Jersey              (390320.176, 453317.529]
New Mexico                (11706.087, 75333.413]
New York                (264325.471, 327322.823]
North Carolina           (75333.413, 138330.766]
North Dakota              (11706.087, 75333.413]
Ohio                     (75333.413, 138330.766]
Oklahoma                  (11706.087, 75333.413]
Oregon                   (75333.413, 138330.766]
Pennsylvania            (138330.766, 201328.118]
Rhode Island            (201328.118, 264325.471]
South Carolina           (75333.413, 138330.766]
South Dakota              (11706.087, 75333.413]
Tennessee                 (11706.087, 75333.413]
Texas                    (75333.413, 138330.766]
Utah                     (75333.413, 138330.766]
Vermont                   (11706.087, 75333.413]
Virginia                  (11706.087, 75333.413]
Washington              (138330.766, 201328.118]
West Virginia             (11706.087, 75333.413]
Wisconsin                (75333.413, 138330.766]
Wyoming                   (11706.087, 75333.413]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64]): [(11706.087, 75333.413] < (75333.413, 138330.766] <
                                     (138330.766, 201328.118] < (201328.118, 264325.471] < ... <
                                     (390320.176, 453317.529] < (453317.529, 516314.881] <
                                     (516314.881, 579312.234] < (579312.234, 642309.586]]

# Pivot Table

Una tabla dinamica(**Pivot Table**) es una forma de resumir un DataFrame por motivos particulares. Hace un fuerte uso de la funcion aggregation. Una tabla dinamica es en si misma un dataFrame, cuando las variables representan una variable en la que se esta interesado y una columna otra, y las celdas dan un valor agregado. Una tabla dinamica tiende tambien a incluir valores marginales, las cuales son sumas de cada columna y fila. Esto permite ver la relación entre dos variables de un vistazo.

In [ ]:
#Vamos a echarles un vistazo en pandas
import pandas as pd
import numpy as np

#aqui un conjunto de datos(dataset) de "Times Higher Education World  University Ranking"

df= pd.read_csv('/content/drive/MyDrive/Python_for_Data_Science/Week_3/datasets/cwurData.csv')
df.head()

   world_rank                            institution  ...   score  year
0           1                     Harvard University  ...  100.00  2012
1           2  Massachusetts Institute of Technology  ...   91.67  2012
2           3                    Stanford University  ...   89.50  2012
3           4                University of Cambridge  ...   86.17  2012
4           5     California Institute of Technology  ...   85.21  2012

[5 rows x 14 columns]

In [ ]:
#Supongamos que se desea crear una nueva columna llamda 'Rank_Level', donde las instituciones
#con clasificacion mundial 1-100 serán categorizadas como "first tier", y las 101-200 "second tier",
#201-300 "third tier", y despues de 301 como otra categoria de universidades top.

def create_category(ranking):
  if (ranking >= 1) & (ranking <=100):
    return "First Tier Top Ranking"
  elif (ranking > 100) & (ranking <=200):
    return "Second Tier Top Ranking"
  elif (ranking > 200) & (ranking <=300):
    return "Third Tier Top Ranking"
  else:
    return "Other Top University"

#Ahora utilizamos la funcion apply() sobre est columna para crear una nueva Series
df['Rank_Level']=df['world_rank'].apply(lambda x:create_category(x))

df.head()

#df[df['country']==''].shape

   world_rank  ...              Rank_Level
0           1  ...  First Tier Top Ranking
1           2  ...  First Tier Top Ranking
2           3  ...  First Tier Top Ranking
3           4  ...  First Tier Top Ranking
4           5  ...  First Tier Top Ranking

[5 rows x 15 columns]

In [ ]:
#Por tanto una tabla dinamica nos permite desplazar una de estas columnas en nuevos encabezados de columna y compararla, 
#con otra columna como indices de fila. Por ejemplo se quiere comparar en rank level vs country de las universidades en 
#terminos de puntuación general

#Para realizar esto se requieren del puntaje y el indice(index) del pais, y que las columnas sean los niveles de rango.

df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.mean]).head()

                             mean  ...
Rank_Level First Tier Top Ranking  ... Third Tier Top Ranking
country                            ...
Argentina                     NaN  ...                    NaN
Australia                 47.9425  ...              47.285000
Austria                       NaN  ...              47.066667
Belgium                   51.8750  ...              46.746667
Brazil                        NaN  ...                    NaN

[5 rows x 4 columns]

In [ ]:
df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.median], margins=True)

                                     median  ...
Rank_Level           First Tier Top Ranking  ...     All
country                                      ...
Argentina                               NaN  ...  44.390
Australia                            48.055  ...  44.765
Austria                                 NaN  ...  44.690
Belgium                              51.875  ...  46.210
Brazil                                  NaN  ...  44.380
Bulgaria                                NaN  ...  44.335
Canada                               53.920  ...  45.620
Chile                                   NaN  ...  44.805
China                                53.430  ...  44.440
Colombia                                NaN  ...  44.410
Croatia                                 NaN  ...  44.770
Cyprus                                  NaN  ...  44.210
Czech Republic                          NaN  ...  44.440
Denmark                              49.815  ...  47.550
Egypt                                   NaN  ...  44.280
Estonia                                 NaN  ...  44.810
Finland                              44.415  ...  45.060
France                               51.150  ...  44.790
Germany                              51.340  ...  45.940
Greece                                  NaN  ...  44.730
Hong Kong                               NaN  ...  45.720
Hungary                                 NaN  ...  44.495
Iceland                                 NaN  ...  44.980
India                                   NaN  ...  44.680
Iran                                    NaN  ...  44.285
Ireland                                 NaN  ...  44.665
Israel                               55.755  ...  50.450
Italy                                47.750  ...  45.055
Japan                                57.100  ...  44.710
Lebanon                                 NaN  ...  44.655
Lithuania                               NaN  ...  44.355
Malaysia                                NaN  ...  44.815
Mexico                                  NaN  ...  45.080
Netherlands                          48.735  ...  47.110
New Zealand                             NaN  ...  44.880
Norway                               46.100  ...  46.140
Poland                                  NaN  ...  44.380
Portugal                                NaN  ...  44.745
Puerto Rico                             NaN  ...  44.175
Romania                                 NaN  ...  44.040
Russia                               54.190  ...  45.140
Saudi Arabia                            NaN  ...  44.440
Serbia                                  NaN  ...  44.420
Singapore                            53.440  ...  49.350
Slovak Republic                         NaN  ...  44.490
Slovenia                                NaN  ...  44.615
South Africa                            NaN  ...  46.090
South Korea                          51.310  ...  45.025
Spain                                   NaN  ...  44.610
Sweden                               51.340  ...  47.795
Switzerland                          51.465  ...  48.265
Taiwan                               54.210  ...  44.420
Thailand                                NaN  ...  44.825
Turkey                                  NaN  ...  44.415
USA                                  55.300  ...  46.980
Uganda                                  NaN  ...  44.280
United Arab Emirates                    NaN  ...  44.220
United Kingdom                       56.000  ...  45.900
Uruguay                                 NaN  ...  44.255
All                                  53.705  ...  45.100

[60 rows x 5 columns]

In [ ]:
#Las tablas dinamicas no se limitan a una sola funcion que desee aplicar. Se puede pasar un parametro llamado aggfunc,
#El cual sea una lista de diferentes funciones que desee aplicar. Y Pandas proveera un resultado usando nombres de las 
#columnas jerarquicas. A continuacion una la misma consulta con la funcion max() tambien.

df.pivot_table(values='score',index='country',columns='Rank_Level', aggfunc=[np.mean,np.max]).head()

                             mean  ...                   amax
Rank_Level First Tier Top Ranking  ... Third Tier Top Ranking
country                            ...
Argentina                     NaN  ...                    NaN
Australia                 47.9425  ...                  47.47
Austria                       NaN  ...                  47.78
Belgium                   51.8750  ...                  47.14
Brazil                        NaN  ...                    NaN

[5 rows x 8 columns]

In [ ]:
#Tambien se pueden resumir valores dentro de otra columna de nivel superior. Por ejemplo, si se quisiera ver un promedio
#general, y se quisiera ver el maximo, se puede indicar a Pandas lo haga proporcionando valores marginales.

df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],margins=True).head()

                             mean  ...   amax
Rank_Level First Tier Top Ranking  ...    All
country                            ...
Argentina                     NaN  ...  45.66
Australia                 47.9425  ...  51.61
Austria                       NaN  ...  47.78
Belgium                   51.8750  ...  52.03
Brazil                        NaN  ...  49.82

[5 rows x 10 columns]

In [ ]:
# creemos un dataFrame nuevo a partir del dataFrame anterior

new_df= df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean,np.max],margins=True)

print(new_df.index)
print(new_df.columns)

Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Colombia', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Iran',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Lithuania',
       'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovak Republic', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'USA', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'All'],
      dtype='object', name='country')
MultiIndex([('mean',  'First Tier Top Ranking'),
            ('mean',    'Other Top University'),
            ('mean', 'Second Tier Top Ranking'),
            ('mean',  'Third Tier Top Ranking'),
            ('mean',                     'All'),
            ('amax',  'First Tier Top Ranking'),
            ('amax',    'Other Top University'),
            ('amax', 'Second Tier Top Ranking'),
            ('amax',  'Third Tier Top Ranking'),
            ('amax',                     'All')],
           names=[None, 'Rank_Level'])

In [ ]:
#Como vemos hay multi indexacion en las columnas, Top level contiene dos categorias mean y max.
#¿Como se consultaria esto?obtener el promedio de puntaje del First Tier Top University levels.
#Para lograrlo se necetaría proyectar dos DataFrames, el primero para la media, y el segundo para
#el Top Tier

new_df['mean']['First Tier Top Ranking'].head()

country
Argentina        NaN
Australia    47.9425
Austria          NaN
Belgium      51.8750
Brazil           NaN
Name: First Tier Top Ranking, dtype: float64

In [ ]:
#Ahora que sucedería si se quisiera encontrar el pais con la puntuacion media maxima en el nivel
#universitario del primer nivel?. Se puede utilizar la funcion idmax()
new_df['mean']['First Tier Top Ranking'].idxmax()

'United Kingdom'

In [ ]:
#Si se desea una forma diferente de visualizar la tabla dinamica se puede realizar con las funciones
#pila(stack()) y desapilamiento(unstack()). El apilamiento es girar el indice de la columna mas bajo.
#para convertirse en el indice más interno. El desaapilamiento es girar el indice de la columna mas arriba.
#para convertirse en el indice más externo. 

#revisems una vez mas nuestra tabla dinamica

new_df.head()

                             mean  ...   amax
Rank_Level First Tier Top Ranking  ...    All
country                            ...
Argentina                     NaN  ...  45.66
Australia                 47.9425  ...  51.61
Austria                       NaN  ...  47.78
Belgium                   51.8750  ...  52.03
Brazil                        NaN  ...  49.82

[5 rows x 10 columns]

In [ ]:
#Intentemos primero con stack

new_df=new_df.stack()
new_df.head()

                                        mean   amax
country   Rank_Level
Argentina Other Top University     44.672857  45.66
          All                      44.672857  45.66
Australia First Tier Top Ranking   47.942500  51.61
          Other Top University     44.645750  45.97
          Second Tier Top Ranking  49.242500  50.40

In [ ]:
#Ahora Unstack

new_df.unstack().head()

                             mean  ...    amax
Rank_Level First Tier Top Ranking  ...     All
country                            ...
All                     58.350675  ...  100.00
Argentina                     NaN  ...   45.66
Australia               47.942500  ...   51.61
Austria                       NaN  ...   47.78
Belgium                 51.875000  ...   52.03

[5 rows x 10 columns]

In [ ]:
#Que pasaria si lo hacemos dos veces seguidas?
new_df.unstack().unstack().head()

      Rank_Level              country
mean  First Tier Top Ranking  All          58.350675
                              Argentina          NaN
                              Australia    47.942500
                              Austria            NaN
                              Belgium      51.875000
dtype: float64

# Data/Time Funcionality

En esta sección se veran series de tiempo y funcionalidad de fecha en pandas. Manipular fechas, y horas en Pandas es bastante flexible, por lo cual permite realizar mas analisis como el analisis de *series de tiempo*. En realidad Pandas fue originalmente creado por Wed McKinney para manejar datos de fecha y hora

## Timestamp

Pandas tiene **cuatros** clases principales relacionadas con **Time**. Timestamp, DatetimeIndex, Period, y PeriodIndex. Comencemos con Timestamp.

Representa una unica marca de tiempo, y valores asociados con puntos de tiempo.

In [ ]:
import pandas as pd
import numpy as np
#Creemos un timestamp con el string 9/1/2019 10:05 AM. y aquí tenemos nuestro Timestamp. 
#Timestamp es intercambiable con la hora y fecha de Python en la mayoría de los casos.

pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [ ]:
#Tambien se puede crear un timestamp(marca de tiempo) pasando varios parametros como año, mes, dia
#hora y minuto por separado. 
pd.Timestamp(2019,12,20,0,0)

Timestamp('2019-12-20 00:00:00')

In [ ]:
#Timestamp tiene algunos atributos utiles, como isoweekday() el cual muestra el dia de la semana correspondiente
#con 1 como lunes y 7 como domingo 
pd.Timestamp(2019,12,20,0,0).isoweekday()

5

In [ ]:
#tambien se puede sacar especificamente año,mes,dia....

pd.Timestamp(2019,12,20,5,2,23).second

23

## Periodo

Hay situaciones en las que en realidad no se quiere trabajar con un momento en especifico, sino con un lapso de tiempo, la clase Period sirve para ello. Period representa un periodo de tiempo unico, como un dia o mes especifico

In [ ]:
#Vamos a crear un periodo solo para el mes de Enero.

pd.Period('1/2016')

Period('2016-01', 'M')

In [ ]:
#La 'M' representa la granularidad del periodo que indica que es un Mes(Month). Aqui otro ejeplo

pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [ ]:
#La aritmetica con este tipo de datos es sencilla, por ejemplo si queremos ver 5 meses despues sumamos 5
# en el caso donde la granularidad es 1

pd.Period('1/2016')+5

Period('2016-06', 'M')

In [ ]:
# O Si se quiere dos dias antes
pd.Period('3/5/2016') - 2

Period('2016-03-03', 'D')

### DatetimeIndex y PeriodIndex

In [ ]:
#Estos son muy utiles cuando se comienza a trabajar con series de tiempo
#Primero se creará un Timestamp(marca de tiempo) de los dias  1-3 de septiembre del 2016, cada Timestamp
#es el indice y tiene un valor asociado, en este aso a,b,c 

t1=pd.Series(list('abc'), [pd.Timestamp('2016-09-01'),pd.Timestamp('2016-09-02'),pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [ ]:
#Si se observan los indices, se denota que tenemos DatetimeIndex.
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [ ]:
#De manera similar se realiza con PeriodIndex

t2=pd.Series(list('abc'), [pd.Period('2016-09'),pd.Period('2016-10'),pd.Period('2016-11')])
t2

2016-09    a
2016-10    b
2016-11    c
Freq: M, dtype: object

In [ ]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

### Convirtiendo a Datetime

Suponiendo que se tiene una lista de fechas como strings, y se quiere crear un DataFrame

In [ ]:
#probemos con varios formatos de fecha

d1=['2 June 2013','Aug 29, 2014','2015-06-26','7/12/16']

#Y ahora crear unos datos al azar 

ts3= pd.DataFrame(np.random.randint(10,100,(4,2)), index=d1,columns=['a','b'])

ts3

               a   b
2 June 2013   63  89
Aug 29, 2014  62  11
2015-06-26    70  87
7/12/16       27  47

In [ ]:
#Usando Pandas to_datetime, Pandas tratará de convertir todos en un formato estandar
ts3.index=pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  63  89
2014-08-29  62  11
2015-06-26  70  87
2016-07-12  27  47

In [ ]:
#to_datetime tambien tiene opciones que permiten cambiar el orden de analisis de fecha. Por ejemplo,
# si el parametro dayfirst=True, para fecha Europea. 
pd.to_datetime('4.7.12',dayfirst=True)

Timestamp('2012-07-04 00:00:00')

### Timedelta

Timedelta son diferencias de tiempo. No es lo mismo que un periodo, aunque lo parezcan, conceptualmente son diferentes. Por ejemplo, la diferencia entre septiembre 3 y 1.

In [ ]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [ ]:
#Tambien se puede hacer mas preciso
pd.Timestamp('9/3/2016 8:10AM')+pd.Timedelta('12D 3H')

Timestamp('2016-09-15 11:10:00')

## Offset

Offset es muy similar a Timedelta, pero sigue reglas especificas de duración de calendario. Offset permite flexibilidad en terminos de intervalos de tiempo. Ademas de hora, día, semana, mes etc. tambien cosas como día de trabajo, y fin de mes, semi mes, etc.

In [ ]:
pd.Timestamp('9/4/2016').weekday()

6

In [ ]:
#Ahora se puede añadir un timestamp con una semana por delante.

pd.Timestamp('9/4/16')+ pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [ ]:
#Ahora realicemos el mismo procedimiento con un fin de mes
pd.Timestamp('9/4/16')+pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

## Trabajando con dates(fechas) en un DataFrame

Ahora un par de trucos para trabajar con fechas en un DataFrame. Supongamos que se quiere mirar nueve medidas, tomadas dos por semanas, todos los domingos, a partir del octubre de 2016. Usando date_range, se puede crear un DatatimeIndex. En data_range se debe especificar la fecha de inicio, y finalización. Si no se especifica de manera de predeterminada, por defecto, la fecha presente se considera la fecha de inicio. Se debe fijar un numero de periodos, y frecuencia. Se fijara '2W-SUN'.

In [ ]:
dates=pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [ ]:
#Hay otro tipos de frecuencias que se pueden utilizar, como puede ser el dia habil(business day)

pd.date_range('10-01-2016',periods=9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
#otro común es el trimestra, comenzando en Junio.

pd.date_range('04-01-2016',periods=12,freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [ ]:
#Volvamos al primer ejemplo con los domingos y con unos datos aleatorios.

dates=pd.date_range('10-01-2016', periods=9, freq='2W-SUN')

df=pd.DataFrame({'Cont 1': 100 + np.random.randint(-5,10,9).cumsum(),
                 'Cont 2': 120 + np.random.randint(-5,10,9)}, index=dates)
df

            Cont 1  Cont 2
2016-10-02     103     122
2016-10-16     102     124
2016-10-30     110     127
2016-11-13     108     116
2016-11-27     114     126
2016-12-11     112     122
2016-12-25     119     126
2017-01-08     123     126
2017-01-22     124     117

In [ ]:
#Podemos revisar que efectivamente todas las fechas sean un domingo
df.index.weekday

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int64')

In [ ]:
#Se puede usar diff, para hallar la diferencia entre cada valor 
df.diff()

            Cont 1  Cont 2
2016-10-02     NaN     NaN
2016-10-16    -1.0     2.0
2016-10-30     8.0     3.0
2016-11-13    -2.0   -11.0
2016-11-27     6.0    10.0
2016-12-11    -2.0    -4.0
2016-12-25     7.0     4.0
2017-01-08     4.0     0.0
2017-01-22     1.0    -9.0

In [ ]:
#Suponiendo que se desea saber el conteo medio para cada mes en el dataFrame, se puede realizar
#usando resample(). Convirtiendo de una frecuencia mas alta a una más baja. 

df.resample('M').mean()

            Cont 1      Cont 2
2016-10-31   105.0  124.333333
2016-11-30   111.0  121.000000
2016-12-31   115.5  124.000000
2017-01-31   123.5  121.500000

In [ ]:
#Ahora hablemos de indexación (indexing) y recortes(slicing) en datetime. Por ejemplo, se puede
#usar la indexación parcial de strings para encontrar valores de un año en particular. 
df['2017']

            Cont 1  Cont 2
2017-01-08     123     126
2017-01-22     124     117

In [ ]:
# O tambien de un mes en particular

df['2016-12']

            Cont 1  Cont 2
2016-12-11     112     122
2016-12-25     119     126

In [ ]:
#o incluso desde una fecha en particular

df['2016-12':]

            Cont 1  Cont 2
2016-12-11     112     122
2016-12-25     119     126
2017-01-08     123     126
2017-01-22     124     117