<a href="https://colab.research.google.com/github/Caarevalor/Python_Datascience_Notebooks/blob/main/Querying_Series_Mine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Consultando Series

In [ ]:
import pandas as pd
students_classes={'Alice': 'Physics',
                  'Jack': 'Chemistry',
                  'Molly': 'English',
                  'Sam': 'History'}
s=pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
## se puede hacer consultas con el numero de campo usando iloc
s.iloc[3]

'History'

In [ ]:
#ahora si queremos averiguar la clase de Molly, usamos loc
s.loc['Molly']
##iloc y loc no son metodos, son atributos por eso no se usa ()
##si no corchetes, porque es una indexacion

'English'

In [ ]:
s[3]

'History'

In [ ]:
s['Molly']

'English'

In [ ]:
##lo mejor es usar iloc, debido a que python no sabe si se esta indexando con sobre un index label o un label 
class_code={99: 'Physics',
            100: 'Chemistry',
            101: 'English',
            102: 'History'}
s=pd.Series(class_code)
##por ejemplo si usamos
# s[0]--> nos va a dar error, no lo encuentra y no sabe que nos referimos iloc
s.iloc[0]

'Physics'

In [ ]:
##ahora tratemos de hace run promedio sobre una serie
grades=pd.Series([90, 80,70,60])
total=0
for grade in grades:
  total+= grade
print(total/len(grades))

75.0

In [ ]:
##aunque lo anterior es lo comun, hoy en dia las computadoras ya tienen funciones 
#que realicen esto de manera mas directa, ademas contando con el uso subyacente de 
# de librerias como Numpy, vamos a ver
import numpy as np
total= np.sum(grades)
print(total/len(grades))

75.0

In [ ]:
##ambos metodos nos dan el mismo resultado, pero cual es mas rapido?
#vamos a averiguar haciendo uso de pandas, primero creemos un vector grande de numeros
numbers=pd.Series(np.random.randint(0,1000,10000))
print(numbers.head())
print(len(numbers))

0    156
1    872
2    342
3    874
4    771
dtype: int64
10000

In [ ]:
##ahora vamos a usar una magic function apra calcular el tiempo
#recordar que las magicfunctions se invocan el caracter %
%%timeit -n 100
total=0
for number in numbers:
  total+= number
total/len(numbers)

100 loops, best of 3: 1.3 ms per loop

In [ ]:
## ahora miremos con vectorizacion
%%timeit -n 100
total=np.sum(numbers)
total/len(numbers)

100 loops, best of 3: 90.3 µs per loop

In [ ]:
##como vemos usando la vectorizacion de numpy es increiblemente mas rapida
##por otro lado existe una herramienta Boradcasting de numpy que nos permite
#modificar cad auno de los elementos del array

numbers.head()

0    156
1    872
2    342
3    874
4    771
dtype: int64

In [ ]:
## ahora dupliquemos los elementos de la serie
numbers+=2
numbers

0       158
1       874
2       344
3       876
4       773
       ...
9995    175
9996    225
9997    760
9998    452
9999    113
Length: 10000, dtype: int64

In [ ]:
##pandas permite la iteracion a traves de los objetos, como si fuera un diccionario:
# podemos usar iteritems que devuelve la etiqueta y el valor

for label,value in numbers.iteritems():
  numbers.set_value
  (label, value+2)
nuumbers

AttributeError: ignored

In [ ]:
##comparemos cual es mas rapida de los demas
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
for label, value in s.iteritems():
  s.iloc[label]=value+2

10 loops, best of 3: 69.1 ms per loop

In [ ]:
##comparemos cual es mas rapida de los demas
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
s+=2

10 loops, best of 3: 328 µs per loop

In [ ]:
##.iloc no solo sirve para cambiar datos, si no para crear nuevos, en caso de que el index que le pasemos no exista
# Pandas tambien cambiara automaticamente el tipo de datos a uno mas adecuado
#veamos...

s=pd.Series([1,2,3])
s.loc['History']=102
s

0            1
1            2
2            3
History    102
dtype: int64

In [ ]:
##Bueno y ahora nos preguntaresmo que sucedera si el index es repetido? esto mostrará que
# es diferente de las bases de datos relacionales

students_classes=pd.Series({'Alice': 'Physics',
                           'Jack': 'Chemistry',
                           'Molly': 'English',
                           'Sam': 'History'})
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
##ahora crearemos unas clases donde el indice es el mismo estudiante
kelly_classes=pd.Series(['Philosophy','Arts','Math'], index=['Kelly','Kelly','Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [ ]:
all_students_classes=students_classes.append(kelly_classes)
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [ ]:
##Hay que saber que append, me devuelve un nuevo objeto, sin modificar el original
#segundo, me va a dar la respuesta con el mejor data type posible, veamos:
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
#ahora observemos, que sucede cuando indexamos con Kelly
all_students_classes.loc['Kelly'] ##conseguimos una serie

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object