<a href="https://colab.research.google.com/github/Caarevalor/Python_Datascience_Notebooks/blob/main/Series_mine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series con Pandas

In [ ]:
import pandas as pd

In [ ]:
students=['Alice','Jack','Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [ ]:
#ahora probaremos con una lista de numeros y arrojara int64 como dtype
numbers=[2,3,4]
pd.Series(numbers)

0    2
1    3
2    4
dtype: int64

In [ ]:
##ahora veamos que hace pandas cuando le introducimos un dato none type con strings
students=['Alice','Jack',None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [ ]:
#en el caso cn una lista de numeros aplica Not a number, como veremos a cotinuacion 
numbers=[2,3,None]
pd.Series(numbers)

0    2.0
1    3.0
2    NaN
dtype: float64

In [ ]:
import numpy as np
np.nan == None

False

In [ ]:
#para comprobar que hay la igualdad np.nan==np.nan hay que hacer uso de funciones especiales como:
np.isnan(np.nan)
##la razon por la que NaN /= de None es debido a cosas de eficiencia puesto que NaN si es un numero

True

In [ ]:
students={'Alice': 'Physics',
          'Jack': 'Chemistry',
          'Molly': 'English'}
s=pd.Series(students)          
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [ ]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [ ]:
#se puede hacer uso de diferentes tipos de elementos, no solo strings, por ejemplo tuplas
students=[('Alice','Brown'),('Jack','White'),('Molly','Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [ ]:
##tambien podemos pasar directamente nuestro index, como argumento y separarlo de los datos
s=pd.Series(['Physics','Chemistry','English'],index=['Alice','Jack','Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [ ]:
#Ahora que hace Pandas cuando los keys no corresponden con los datos, cuando el valor de index es mayor o menor, se prioriza el index
#y se llena con NaN or None
students_scores={'Alice': 'Physics',
                 'Jack': 'Chemistry',
                 'Molly': 'English'}
s=pd.Series(['Physics','Chemistry','English'],index=['Alice','Jack','Sam'])                 
s

Alice      Physics
Jack     Chemistry
Sam        English
dtype: object